.list {
  display: grid;
  gap: 20px;
  /* flex-direction: column; */
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
